@import "../../../style/fonts.css";
@import "../../commonStyle.css";

body {
    background-image: url("../img/bg2.jpg");
    display: block;
}

h1 {
    text-align: start;
    font-size: 4.5vh;
    line-height: 5.2vh;
}

.title {
    padding: 0 1.5vw;
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 2vw 2vw 0;
    background: #ee83ff;
}

.stickers {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 1vh;
    height: 34vh;
}

.correct, .incorrect {
    width: 10vh;
    height: 10vh;
    margin:  0.5vh 0.5vw;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.cardImg {
    background-size: cover;
    width: 100%;
    height: 22vh;
    border: 0.2vh solid;
    border-radius: 1.5vw;
}

.card p {
    width: 85%;
    margin-top: -3vh;
    font-size: 3vh;
    line-height: 3vh;
    text-align: center;
    padding: 1vh 0.5vw;
    background: white;
    border-radius: 1.5vh;
    border: 0.2vh solid;
}