@import "../../../style/fonts.css";
@import "../../commonStyle.css";

body {
    background-image: url("../img/bg.png");
    background-position-y: -5vh;
}

.container p {
    color: white;
    margin: 0.5vh 0.5vw;
    font-size: 3vh;
    width: max-content;
    height: max-content;
    line-height: 4.75vh;
}

.correct, .incorrect {
    color: white;
    margin: 0.5vh 0.5vw;
    font-size: 3vh;
    width: max-content;
    height: max-content;
    line-height: 4.75vh;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    height: 78vh;
    border: 0.12vw solid #f1f1f1;
    border-radius: 1vw;
    display: grid;
    grid-template-rows: 10% 65% 25%;
    grid-template-columns: repeat(2, 50%);
    background-color: rgba(30, 39, 183, 0.25);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 25px 0 rgba(230, 0, 255, 0.25);
}

.container h6 {
    color: white;
    font-size: 5vh;
    display: grid;
    place-content: center;
    grid-column: 1 / 3;
    border-bottom: 0.12vw solid #f1f1f1;
}

.left-drop-side, .right-drop-side {
    display: flex;
    flex-direction: column;
}

.left-drop-side span, .right-drop-side span {
    color: white;
    font-size: 3.5vh;
    text-decoration: underline;
}

.left-drop-side {
    border-right: 0.06vw solid #f1f1f1;
    border-bottom: 0.12vw solid #f1f1f1;;
}

.right-drop-side {
    border-left: 0.06vw solid #f1f1f1;
    border-bottom: 0.12vw solid #f1f1f1;;
}

.items {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    height: max-content;
}