* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 9vh;
    text-align: center;
    line-height: 10vh;
}

body {
    font-family: 'CyrRound', serif;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: grid;
    place-content: center;
}

.congratulation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    place-content: center;
}

.congratulation img {
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

#salutLeft {
    left: 0;
    bottom: 0;
}

#salutRight {
    right: 0;
    bottom: 0;
    transform: scale(-1, 1);
}

.backdropFilter {
    position: absolute;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(60px);
    border-radius: 2vw;
    box-shadow: 0 0 10px 0 rgba(137, 137, 137, 0.75);
    z-index: -1;
}

.congratulation, .backdropFilter {
    width: 80vw;
    height: 75vh;
}

.btn-row {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    border-radius: 1vw;
}

.toMenu {
    font-size: 6vh;
    padding: 0.25vh 1.5vw;
    background: #45b100;
    border-radius: 0.75vw;
    box-shadow: 0 0 10px 0 white;
    border: 1px solid white;
}

.backButton {
    font-size: 3.5vh;
    position: absolute;
    left: 1%;
    top: 2%;
    padding: 0.25vh 0.8vw;
    background: #45b100;
    border-radius: 0.75vw;
    box-shadow: 0 0 5px 0 white;
    border: 1px solid white;
}